<%#

This file is part of Diligence

Copyright 2011-2012 Three Crickets LLC.

The contents of this file are subject to the terms of the LGPL version 3.0:
http://www.gnu.org/copyleft/lesser.html

Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/

%><%& '/site/header/' %>
<% var version = application.globals.get('diligence.version.download') || application.globals.get('diligence.version'); %>

<h1>Download</h1>

<p>This page has been updated for Early Bird <%= version %>.</p>

<h2>Early Bird Alert</h2>
<p class="note">
	What you will be downloading right now is an "Early Bird" release. "Early," in that it's not yet at "1.0" quality: what's missing is some
	more documentation and fleshing out a few last-in features. "Bird," in that it's the contemporary evolutionary descendent of dinosaurs, and
	dinosaurs are very cool. The bulk of the code is here and fully functional, and of immediate use. There's nothing stopping you from creating
	super-scalable, data-driven web and mobile applications with Diligence right now.
</p>

<h2>Requirements</h2>
<p>
	You need <a href="http://threecrickets.com/prudence/download/">Prudence</a> and <a href="http://www.mongodb.org/">MongoDB</a>.
	That's it. If you're using them for the first time, it might be a good idea to get some familiarity with them first.
	Prudence comes with a big, printable Creative-Commons-licensed manual. And there are some decent books about MongoDB out there.
</p>

<h2>How to Install Diligence</h2>
<p>
	Pick one of the distributions below, download it and unzip it.
</p>
<p>
	Copy everything in the /libraries/ directory to your Prudence's /libraries/ directory. (Or, otherwise just make sure that they are
	in your JVM's classpath.)
</p>
<p>
	Then put "diligence-common.prudence.zip" and a "diligence-dependencies-common.prudence.zip" (or its debug version if you're
	using the debug edition) into your Prudence's /common/ subdirectory. Restart Prudence, and it will unpack these automagically.
</p>


<h2>How to Install the Demo Application</h2>
<p>
	The distribution comes with some demo data for MongoDB, all in the /demo-data/ directory. You need to put in the "diligence"
	collection on MongoDB. An example command:
</p>
<pre>
mongorestore --drop --db diligence ./demo-data 
</pre>
<p>
	Then put 'diligence-demo-application.prudence.zip' into your Prudence's /applications/ subdirectory.
	Restart Prudence, and it will unpack it automagically. You can then go to <a href="http://localhost:8080/diligence/">http://localhost:8080/diligence/</a>
	to see it. Have fun!
</p>
<p>
	All the demo users have the password "diligence". There is a user named "diligence", too. 
</p>
<p class="note">
	Note: Many of Diligence's integration features (Facebook, Twitter, PayPal, etc.) require you to create accounts on those services, which
	then issue private security keys. You can edit the "/applications/diligence/settings.js" with these keys, or otherwise
	create a "/applications/diligence/settings-extra.js" to override the default blank settings for these. Beyond that, these services
	will likely need to callback to your application over the internet, so you may need to deploy the Diligence demo application
	on a publicly available site to appreciate it fully.
</p>

<h2>OK, Let's Download!</h2>

<h3>Development Snapshot</h3>
<p>
	While in Early Bird status, you'll see multiple daily commits. Seriously, as soon as you download you'll already be out of date.
	For people wanting to keep in touch with the path to Diligence 1.0, we recommend using the development snapshot and updating frequently. 
	<a href="http://code.google.com/p/diligence-prudence/source/checkout">Get it via Subversion</a>.
	Easy, quick build with <a href="http://ant.apache.org/">Ant</a>.
</p>
<p>
	If that sounds like too much for you, go ahead and download one of these:
</p>

<h3>Standard Edition</h3>	
<p>
	You probably want this! It includes everything you need to get Diligence up and running.
</p>
<p>
	<a href="http://diligence-prudence.googlecode.com/files/diligence-standard-<%= version %>.zip" onclick="javascript:pageTracker._trackPageview('/diligence/download/files/diligence-standard-<%= version %>.zip');">Diligence: Standard Edition</a> (9mb)
</p>

<h3>Debug Edition</h3>	
<p>
	This is identical to the standard edition, but also includes the debug versions of Ext JS and Sencha Touch.  
</p>
<p>
	<a href="http://diligence-prudence.googlecode.com/files/diligence-debug-<%= version %>.zip" onclick="javascript:pageTracker._trackPageview('/diligence/download/files/diligence-debug-<%= version %>.zip');">Diligence: Debug Edition</a> (11mb)
</p>

<h3>Minimal Edition</h3>	
<p>
	This is Diligence only, without any of its dependency libraries. This is useful if you just want to upgrade
	and you already have all the dependencies.  
</p>
<p>
	<a href="http://diligence-prudence.googlecode.com/files/diligence-minimal-<%= version %>.zip" onclick="javascript:pageTracker._trackPageview('/diligence/download/files/diligence-minimal-<%= version %>.zip');">Diligence: Minimal Edition</a> (1mb)
</p>

<h2>Need Help?</h2>
<p>
	Join the <a href="http://groups.google.com/group/prudence-community">Prudence Community</a>, which is where we'll be talking about Diligence
	related issues. And please open a bug on the <a href="http://code.google.com/p/diligence-prudence/">community site</a>, or request a feature.
	We love bug reports!
</p>

<%& '/site/footer/' %>
