<%

document.executeOnce('/diligence/service/html/')
document.executeOnce('/prudence/resources/')
document.executeOnce('/sincerity/json/')

var data = Prudence.Resources.getEntity(conversation, 'object')
if (!data) {
	conversation.stop()
}

%>
<html>
<head>
	<%= Diligence.HTML.build({_content: 'Diligence REST Service - ' + data.resource.name, _tag: 'title'}) %>
</head>
<body>
<%= Diligence.HTML.build({_content: 'Resource: ' + data.resource.name, _tag: 'h3'}) %>
<pre>
<%= Sincerity.JSON.to(data.value, true).escapeElements() %>
</pre>
</body>
</html>